
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.text-transform {
    text-transform: uppercase;
    font-weight: bold;
    display: none;
    margin: 34px 0 25px 0;
}


.open-menu {
    display: none;
}

#sidebar {
    display: none;
}

.container-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 3;
}

.navigation {
    display: flex;
    align-items: center;
}


.navigation a {
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 13px;
    padding-left: 60px;
}

/*main*/
main {
    width: 100%
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 100%;
    height: 750px;
    background: url(../img/Layer-34.png) center no-repeat;
    background-size: cover;
}

.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.info div:nth-child(1) {
    margin-bottom: 3px;
}

.info div:nth-child(2) {
    margin-top: 3px;
}

.info div:nth-child(3) {
    margin-top: 20px;
}

.main-container div:nth-child(3) > p {
    display: flex;
    justify-content: center;
    color: white;
    margin: 0;
    font-size: 15px;
    padding: 3px;
}

.main-container div:nth-child(1) > b, .main-container div:nth-child(2) > b {
    font-size: 50px;
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.main-container button {

    text-transform: uppercase;
    color: white;
    background-color: #e84545;
    width: 200px;
    height: 45px;
    border: none;
    font-size: 10px;
    margin-top: 65px;
    border-radius: 2px;
}

.main-container button:hover {
    background-color: blue;
}

.filter {
    position: absolute;
    width: 100%;
    height: 750px;
    background-color: #292c46;
    z-index: 2;
    opacity: 0.9;

}

.answer-size {
    width: 60px;
    height: 60px;
}

/*features*/
.features-container {
    width: 100%;
    height: 690px;
    padding-top: 120px;
}

.features {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 19px;

}

.features-one {
    text-align: center;
}

.features .features-one {
    width: 402px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.features-two .features-one {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 402px;
    text-align: center;
}

.features div:nth-child(1) > p > b,
.features div:nth-child(2) > p > b,
.features div:nth-child(3) > p > b {
    text-transform: uppercase;
}

.features div:nth-child(2) {
    margin-right: 95px;
    margin-left: 95px;
}

.items {
    margin: 34px 0 25px 0;
}

.text-info {
    margin: 0;
    line-height: 27px;
    color: #6c7279;
}

.features-two {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 19px;
    margin-top: 80px;
}

.features-two .features-next-row {
    width: 402px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.features-two div:nth-child(1) > p > b,
.features-two div:nth-child(2) > p > b,
.features-two div:nth-child(3) > p > b {
    text-transform: uppercase;
}

.features-two div:nth-child(2) {
    margin-right: 95px;
    margin-left: 95px;
}

/*Works*/

.works-container {
    height: 701px;
}

.works-layer-1 {
    width: 100%;
    display: flex;
}

.works-layer-2 {
    width: 100%;
    display: flex;
    margin-top: 0.5px;
}


.layer-35 {
    width: 25%;
    height: 350px;
    background: url(../img/Layer-35.png) center no-repeat;
    background-size: cover;
}

.layer-36 {
    width: 25%;
    height: 350px;
    background: url(../img/Layer-36.png) center no-repeat;
    background-size: cover;
}

.layer-37 {
    width: 25%;
    height: 350px;
    background: url(../img/Layer-37.png) center no-repeat;
    background-size: cover;
}

.layer-38 {
    width: 25%;
    height: 350px;
    background: url(../img/Layer-38.png) center no-repeat;
    background-size: cover;
}

.layer-39 {
    width: 25%;
    height: 350px;
    background: url(../img/Layer-39.png) center no-repeat;
    background-size: cover;
}

.layer-40 {
    width: 25%;
    height: 350px;
    background: url(../img/Layer-40.png) center no-repeat;
    background-size: cover;
}

.layer-41 {
    width: 25%;
    height: 350px;
    background: url(../img/Layer-41.png) center no-repeat;
    background-size: cover;
}

.layer-42 {
    width: 25%;
    height: 350px;
    background: url(../img/Layer-42.png) center no-repeat;
    background-size: cover;
}

.layer-35,
.layer-36,
.layer-37,
#filter-image {
    margin-right: 0.5px;
}

.layer-38 {
    margin-left: 0.5px;
}

#filter-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    width: 25%;
    height: 350px;
    background-color: #d54345;
    opacity: 0.9;
    z-index: 2;
    font-size: 19px;
}

#filter-image p {
    margin: 0;
    padding: 10px;
}

#filter-image p:nth-child(1) {
    text-transform: uppercase;
}

.layer-39,
.layer-40,
.layer-41 {
    margin-right: 0.5px;
    margin-top: 0.5px;
}

.layer-42 {
    margin-left: 0.5px;
}

/*team*/

.team {

    width: 100%;
    height: 780px;

}

.item-lady {
    width: 270px;
    height: 270px;
    background: url(../img/Layer-30.png) center no-repeat;
    background-size: cover;
}

.item-man {
    width: 270px;
    height: 270px;
    background: url(../img/Layer-31.png) center no-repeat;
    background-size: cover;
}

.item-miss {
    width: 270px;
    height: 270px;
    background: url(../img/Layer-32.png) center no-repeat;
    background-size: cover;
}

.item-missis {
    width: 270px;
    height: 270px;
    background: url(../img/Layer-33.png) center no-repeat;
    background-size: cover;
}

.item {
    margin-right: 30px;
}

.item-info {
    width: 270px;
    font-size: 12px;
    color: #6c7279;
    margin-right: 30px;
}

.team-container {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.info-container {
    display: flex;
    justify-content: center;
}

.item-info-size {
    margin: 26px 0 0 0;
    font-size: 22px;
    color: #2d3033
}

.item-info-size-p {
    margin: 11px 0 0 0;
    text-transform: uppercase;
    color: #d54345;
    font-size: 13px;
}

.item-info p:nth-child(3) {
    margin: 29px 0 0 0;
    line-height: 21px;
}

.social {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.social-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #c6cacc;
    margin-right: 5px;
}

.icon-twit {
    width: 16px;
    height: 16px;
    padding: 2px;
    background: url(../img/Shape-3.png) center no-repeat;

}

.icon-in {
    width: 16px;
    height: 16px;
    background: url(../img/Shape-11.png) center no-repeat;
    background-size: cover;
}

.icon-face {
    width: 17px;
    height: 17px;
    padding: 2px;
    background: url(../img/Shape-6.png) center no-repeat;

}

.social-data {
    width: 270px;
    display: flex;
    margin-right: 30px;
}

/*clients*/

.clients {
    display: flex;
    width: 100%;
    height: 500px;

}

.client-container-1 {
    background: url(../img/Layer-19.png) center no-repeat;
    background-size: cover;
    width: 50%;
}

.client-container-2 {
    display: flex;
    justify-content: flex-start;
    background-color: #53354a;
    width: 50%;
}

.client-container-integer {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
    margin-top: 100px;
}

.client-text {
    padding-left: 85px;
}

.client-container-integer p:nth-child(1) {
    font-family: 'Cardo', serif;
    font-size: 36px;
    margin: 0;
    line-height: 42px;
}

.client-container-integer p:nth-child(2) {
    font-size: 13px;
    text-transform: uppercase;
    margin: 26px 0 0 0;
}

.slider {
    margin-left: 85px;
    display: flex;
    margin-top: 65px;
}

.slider div:nth-child(2) {
    background-color: white;
}

.slider-items {
    width: 10px;
    height: 10px;
    background-color: #c6cacc;
    margin-right: 8px;
    border-radius: 50%;
}

/*download*/

.download {
    width: 100%;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.download_now {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

.download-fusce {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 16px 0 0 0;
}

.download button {
    width: 280px;
    height: 45px;
    background-color: #e84545;
    font-size: 13px;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 2px;
    margin-top: 40px
}

/*footer*/

.footer-container {
    width: 100%;
    height: 340px;
    display: flex;
    flex-direction: column;
}

.footer-top {
    height: 250px;
    background-color: #3a3e64;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    margin-left: 260px;
    margin-right: 160px;
}

.footer-item {
    text-align: center;
    height: 120px;
}

.footer-item-location {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    margin: 0 0 25px 0;
}

.footer-item-city {
    color: #a0a2b0;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
}

.footer-bootom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95px;
    background-color: #313454;
}

.footer-top .social-info {
    border: 2px solid white;
    margin-left: 7px;
}

.footer-share {
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    margin: 0 0 25px 0;
}

.social-data-info {
    display: flex;
}

.footer-top .icon-twit {
    background: url(../img/twit.png) center no-repeat;;
}

.footer-top .icon-in {
    background: url(../img/in.png) center no-repeat;;
}

.footer-top .icon-face {
    background: url(../img/f.png) center no-repeat;;
}

.remove {
    display: none;
}
